<div class="container mx-auto">
  <ion-grid vexContainer>
    <ion-row>
      <ion-card class="mx-4 w-full bg-white-1 p-6 border-radius-20 shadow-sm mb-8">
        <ion-text color="primary ">
          <h1 class="text-center text-2xl pb-3 font-bold">Programa de Referidos Bluemeds</h1>
          <h1 class="text-center text-2xl pb-3">Términos y Condiciones</h1>
          <div class="leading-[1.5] px-[10%] text-justify">
            <div class="p-6 bg-white text-justify text-lg">
              1. El programa de referidos aplica únicamente si la persona que refiere consume un monto mensual igual o mayor a Q.300 así como también la persona referida debe ingresar con un monto igual o mayor a Q.300 Esto aplicará para la siguiente entrega.<br/><br>
              2. Cada persona suscrita a Bluemeds tiene un código único para poder compartir con sus familiares y amigos. Si compartes otro código que no es el tuyo, no se aplicará ningún descuento.<br/><br>
              3. Para que el descuento se aplique, a la nueva persona suscrita se le debe realizar el primer cobro de forma exitosa.<br/><br>
              4. Si el monto de la entrega es menor al monto del descuento acumulado (según la cantidad de personas referidas y suscritas exitosamente), se le cobrará Q1.00 al suscriptor y la diferencia no se acreditará a una entrega posterior.<br/><br>
              5. El código puede usarse múltiples veces. Se harán Q75 de descuento por cada suscripción exitosa que la persona refiera.
            </div>
          </div>
        </ion-text>
      </ion-card>
    </ion-row>
  </ion-grid>
</div>

