<div class="w-full h-full mb-12" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-3xl mt-6 py-5">
    <div class="px-6 py-4" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-48 mr-4" src="/assets/bluemeds/bluemeds-logo.svg">
      </div>
    </div>

    <div class="text-center">
      <h4 class="body-2 text-secondary m-0">Llena los datos para entrar.</h4>
    </div>
    <app-validatable-form>
      <div [formGroup]="form" class="py-6 px-5 md:px-32" fxLayout="column" fxLayoutGap="25px">
        <div class="relative inputBoxRegister">
          <input type="text"
                 class="blue-input border-primary box-border"
                 placeholder="Correo"
                 name="email"
                 formControlName="email">
          <span class="absolute left-4 top-0 p-2 pointer-events-none text-sm text-[#8D8D8D] transition duration-150">Correo electrónico</span>
        </div>

        <div class="relative inputBoxRegister">
          <app-password-input
            [control]="passwordFormControl"
            [passChecks]="passChecks"
            message="Nueva contraseña"
            placeHolder="Nueva contraseña"
            (allValidChecks)="allChecksValid = $event"
            (hasSub)="hasSubmitted = $event"
          >
          </app-password-input>
        </div>

          <div class="relative inputBoxRegister">
            <app-password-input
                [control]="confirmPasswordFormControl"
                message="Confirmar nueva contraseña"
                placeHolder="Confirmar nueva contraseña">
            </app-password-input>
          </div>
        <ion-button class="send-btn" shape="round" (click)="send()" color="primary"  type="button">
          ENVIAR
        </ion-button>
        <div *ngIf="hasSubmitted && !allChecksValid" class="justify-center flex items-center max-w-[256px] self-center">
          <ion-icon name="alert-circle" class="text-[#621B16] font-bold text-sm mt-[0.15rem]" style="min-width: 1rem;"></ion-icon>
          <ion-text class="text-[#621B16] font-bold text-xs ml-1">La contraseña no cumple con los criterios de seguridad solicitados</ion-text>
        </div>
      </div>
    </app-validatable-form>
  </div>
</div>
