:host {
  background: var(--toolbar-background);
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.toolbar {
  height: var(--toolbar-height);
}

.mat-icon {
  color: var(--toolbar-icon-color);
}

a {
  color: var(--toolbar-color);
  text-decoration: none;
}

.mat-item-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mat-item-menu:hover svg path {
  fill: #008AD8;
}

.mat-item-menu:hover {
  color: #008AD8;
  background: #E8F5FB;
}

.menu-custom-btn {
  background: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-right: 10px;
}

.custom-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title-name {
  font-size: 24px;
  padding: 16px;
  color: #2A51A3;
  font-weight: 400;
  line-height: 25px;
}

/* CSS para transiciones suaves */
.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.log-out-icon{
  transform: rotate(180deg);
}
