<input [type]="inputType"
[ngStyle]="{'border-color': !allChecksValid && control.dirty && passChecks.length > 0  ? '#EB7878' :'#1B46B7' }"
class="blue-input border-primary box-border"
[formControl]="control"
(input)="validatePassword($event)"
(focusout)="loseFocus.emit(true)"
[placeholder]="placeHolder" required>
<span class="absolute left-4 top-0 p-2 pointer-events-none text-base text-[#8D8D8D] transition duration-150">{{message}}</span>
<button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" class="absolute top-3 right-2" type="button">
<mat-icon style="font-size: 16px" *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
<mat-icon style="font-size: 16px" *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
</button>
<div *ngFor="let check of passChecks" [ngClass]="{'passed-check': check.isValid}"
class="font-bold text-[#313638] flex items-start mt-1 ml-1">
<ion-icon name="checkmark-circle-outline" class="text-sm mt-[0.15rem]" style="min-width: 1rem;"></ion-icon>
<ion-text class="text-xs ml-1">{{check.label}}</ion-text>
</div>
