<div class="container mx-auto">
  <ion-grid vexContainer>
        <ion-row>
          <ion-col class="text-center" size="12">
            <div class="p-6">
              <h2 class="font-bold">No hemos podido registrar tu suscripción</h2>
    
              <p class="pt-8 px-6 text-xl text-[#959595]">
                Hubo un error registrando los datos de tu medio de pago. <br/>
                Por favor intenta nuevamente o contáctanos por los medios señalados más abajo.
              </p>

              <p class="pt-8 px-6 text-xl text-bluemedsBlue">
                <span class="font-bold">Tus medicamentos </span><span class="italic font-medium">sin complicaciones.</span>
              </p>              
              
            </div>
          </ion-col>
        </ion-row>
  </ion-grid>
</div>
